*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(pacote/imagens/background001.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scro;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
p{
    width: 200px;
    padding: 10px;
    line-height:30px;
    
}
